    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content">

        <ul class="ulist">
            <li class="list">
                <a th:href="@{/game/view/13681}">
                    <div class="tumb-wrp">
                        <img th:src="@{/front/images/game1.png}"  th:alt="#{게임}"  class="img-fluid">
                    </div>
                    <div class="bx-txt">
                        <h3>포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                    </div>
                </a>
               <a th:href="@{/game/view/13681}">
                <div class="tumb-wrp">
                    <img th:src="@{/front/images/game1.png}"  th:alt="#{게임}"  class="img-fluid">
                </div>
                <div class="bx-txt">
                    <h3>포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                </div>
                </a>
                <a th:href="@{/game/view/13681}">
                <div class="tumb-wrp">
                    <img th:src="@{/front/images/game1.png}"  th:alt="#{게임}"  class="img-fluid">
                </div>
                <div class="bx-txt">
                    <h3>포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                </div>
                </a>
                <a th:href="@{/game/view/13681}">
                <div class="tumb-wrp">
                    <img th:src="@{/front/images/game1.png}"  th:alt="#{게임}"  class="img-fluid">
                </div>
                <div class="bx-txt">
                    <h3>포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                </div>
                </a>
                <a th:href="@{/game/view/13681}">
                <div class="tumb-wrp">
                    <img th:src="@{/front/images/game1.png}"  th:alt="#{게임}"  class="img-fluid">
                </div>
                <div class="bx-txt">
                    <h3>포켓몬스터스칼렛・바이올렛 제로의 비보</h3>
                </div>
                </a>
            </li>
        </ul>
    </main>
    </html>
